#slang {
    background-color: #f0fff0;
    border: 2px solid #009900;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

#slang ul {
    list-style-type: none;
    padding: 0;
}

#slang li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #005f00;
}

#slang li::before {
    content: "🍃 "; /* Legger til en Yoshi-relatert emoji */
}

.telegram-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.telegram-link:hover {
    background-color: #005f99;
}